body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    text-align: center;
    margin: 0;
    padding: 0;
}

.welcome {
    margin-top: 30px;
}

.container {
    margin-top: 50px;
}

.animate-button {
    padding: 20px 40px;
    font-size: 18px;
    cursor: pointer;
    border: 2px solid #007BFF;
    background-color: #007BFF;
    color: white;
    border-radius: 5px;
    transition: transform 0.3s ease;
}

.animate-button:hover {
    transform: scale(1.1);
}

#lottie-animation {
    margin-top: 50px;
}

canvas {
    display: block;
    margin: 50px auto;
}
